/* 스타일 파일의 나머지 코드 */

@font-face {
    font-family: 'BMHANNAPro';
    src: url('./assets/fonts/BMHANNAPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'BMHANNAPro', sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: #13131b;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    background: #333;
    color: white;
    padding: 1rem;
    width: 100%;
    z-index: 1000;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
}

header li {
    margin-right: 1rem;
}

header a {
    color: white;
    text-decoration: none;
}

footer {
    padding: 0.5rem; /* 푸터 높이 줄임 */
}

.footer {
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
}

main {
    padding: 2rem;
    flex: 1; /* 메인 콘텐츠가 flexbox를 채우도록 설정 */
}

.project-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 1rem;
}

form label {
    margin-bottom: 0.5rem;
    display: block;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5rem;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

/* 스크롤바 스타일 추가 */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #13131b; /* 스크롤바 트랙 배경색 */
}

::-webkit-scrollbar-thumb {
    background-color: #333; /* 스크롤바 색상 */
    border-radius: 6px;
    border: 3px solid #13131b; /* 스크롤바와 트랙 사이의 간격 */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 호버 시 스크롤바 색상 */
}
